<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a [routerLink]="['/pets']" class="navbar-brand">Dog Shelter</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-taget="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a [routerLink]="['/pets']" routerLinkActive="active" class="nav-link">Pets</a>
            </li>
        </ul>
    </div>
</nav>