<br/><br/>

<div class="form-group row">

    <div class="form-group col-sm-4">
        <br>
        <a href="{{pet?.imgUrl}}" target="_blank"><img [src]="pet?.imgUrl" class="petInfoImg"></a>
    </div>

    <div class="form-group col-sm-8">

        <br/>

        <h1>Editing information of the pet:&emsp;{{ pet?.name }}</h1>

        <br/><hr/><br/>

        <form #petForm="ngForm" *ngIf="pet">

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Name:</label>
            
                <div class="col-sm-5">
                    <input [(ngModel)]="pet.name" required name="name" #petName="ngModel" [ngClass]="{'is-invalid': petName.invalid}" class="form-control">
                </div>
            </div>

            <br/>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Race:</label>
            
                <div class="col-sm-5">
                    <input [(ngModel)]="pet.race" required name="race" #petRace="ngModel" [ngClass]="{'is-invalid': petRace.invalid}" class="form-control">
                </div>
            </div>

            <br/>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Birthday:</label>
            
                <div class="col-sm-3">
                    <input [(ngModel)]="pet.birthday" required name="birthday" #petBirthday="ngModel" [ngClass]="{'is-invalid': petBirthday.invalid}" class="form-control">
                </div>
            </div>

            <br/>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Mood:</label>
            
                <div class="col-sm-2">
                    <input [(ngModel)]="pet.mood" required type="number" name="mood" #petMood="ngModel" [ngClass]="{'is-invalid': petMood.invalid}" class="form-control">
                </div>
            </div>

            <br/><hr/><br/>

            <button [disabled]="petForm.invalid" (click)="save()" class="btn btn-success col-sm-2">Save</button>

            <button [routerLink]="['/pets']" class="btn btn-secondary col-sm-2">Cancel</button>

            <button [routerLink]="['/pets']" (click)="deletePetById(pet.id)" class="btn btn-danger col-sm-2">DELETE</button>

        </form>

    </div>
    
</div>