h1{
    text-align: center;
}

.petImg{
    border-radius: 10px;
    height: 120px;
    width: 120px;
}

.petInfoImg{
    height: 50px;
    width: 50px;
}

.petName, .petBday, .petRace{
    vertical-align: middle;
    font-size: 22px;
}

.petMood{
    vertical-align: middle;
}

label{
    text-align: right;
    font-weight: bold;
}

input{
    border: gray solid 1px;
}

th{
    font-size: 18px;
}

a:hover img{
    transform: scale(1.3)
}

img{
    transition: 0.15s all ease-in-out;
}

.btn:hover{
    transform: scale(1.2);
    transition: 0.15s all ease-in-out;
}

.btn{
    width: 70px;
    margin-top: 30%;
}